body{
   font-family: Roboto;	
   background: #FF0099;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #493240, #FF0099);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #493240, #FF0099); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
	background-color: MediumVioletRed;
	text-transform: uppercase;
	color: white;
	padding:10px 20px; 
	margin: 0;
	font-weight: normal;
	font-size: 24px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0; 
}

li
{
	background:white;
	height: 40px;
	line-height: 40px;
	color: #666;

}

li:nth-child(2n){
  background: #f7f7f7;
}

span{
	color: white;
	height: 40px;
   background: red;
   width:0;
   text-align: center;
   margin-right: 20px;
   transition: 0.2s linear;
   display: inline-block;
   opacity: 0;
}

li:hover span{
	width: 40px;
	opacity: 1.0;
}

input{
	font-size: 18px;
	color:crimson;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 13px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0, 0);
}

input:focus{
	color: red;
	background:white;
	border: 3px solid crimson;
}


#container{
	width:360px;
	margin: 100px auto;
	box-shadow: 0 0 3px rgba(0,0,0, 0.5);
	background: #f7f7f7;
}

.completed
{
	color: gray;
	text-decoration: line-through;
}

.fa-plus{
	float: right;
}

